{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lorem</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">


</head>
<style>
    @font-face {
        font-family: yakan;
        src: url("fonts/Yekan.ttf");
    }
    *{
        font-family: yakan;
        
    }
</style>
<body>
    <div class="container mt-3">
        <div class="alert alert-danger text-center"><h1>این سایت به زودی در دسترس خواهد بود </h1></div>

    </div>
</body>
</html>